@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&display=swap");

$mainRed: hsl(0, 100%, 68%);
$veryDarkBlue: hsl(230, 29%, 20%);
$grayishBlue: hsl(230, 11%, 40%);
$veryGrayishBlue: hsl(231, 7%, 65%);
$lightGrayishBlue: hsl(207, 33%, 95%);
$headCallsNav: "Barlow Condensed", sans-serif;
$bodyFont: "Barlow", sans-serif;

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.box {
  display: none;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

#nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 40px 150px 0 100px;

  ul {
    font-size: 22px;
    font-family: $headCallsNav;
    font-weight: 700;
    list-style: none;
    text-transform: uppercase;

    li {
      display: inline;
      padding: 0 15px 0 15px;

      #login {
        padding-left: 50px;
        color: $grayishBlue;
      }

      a {
        color: $veryDarkBlue;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 100px;

  .left {
    width: 500px;
    padding-left: 100px;
    font-size: 18px;

    .new {
      background-color: $veryDarkBlue;
      color: white;
      padding: 2px 6px 2px 6px;
      border-radius: 20px;
      font-weight: 700;
      font-family: $bodyFont;
    }
    .mono {
      color: $grayishBlue;
      text-transform: uppercase;
      letter-spacing: 3px;
      padding-left: 8px;
      font-weight: 400;
      font-family: $bodyFont;
    }

    h1 {
      font-family: $headCallsNav;
      font-size: 3.5em;
      font-weight: 700;
      color: $veryDarkBlue;
      text-transform: uppercase;
    }

    p {
      position: relative;
      bottom: 20px;
      color: $grayishBlue;
      font-size: 18px;
      font-weight: 400;
      font-family: $bodyFont;
    }

    .prev {
      color: $grayishBlue;
      text-transform: uppercase;
      letter-spacing: 3px;
      padding-left: 8px;
      font-weight: 400;
      font-family: $bodyFont;
    }

    .btn {
      color: white;
      background-color: $mainRed;
      padding: 10px 22px 10px 22px;
      border: none;
      font-size: 1em;
      font-family: $headCallsNav;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 2px;

      &:hover {
        background-color: #ff7474;
      }
    }
  }

  .right {
    position: absolute;
    top: 0;
    right: 0;
    background-color: $lightGrayishBlue;
    width: 750px;
    height: 350px;
    border-bottom-left-radius: 50px;
    z-index: -2;

    img {
      position: absolute;
      top: 170px;
      left: 55px;
    }
  }
}

@media only screen and (max-width: 850px) {
  .main {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 100px;

    .left {
      position: relative;
      top: 425px;
      width: 500px;
      padding: 0 0 50px 30px;
      font-size: 18px;
    }

    .right {
      position: absolute;
      top: 0;
      right: 0;
      background-color: $lightGrayishBlue;
      width: 300px;
      height: 650px;
      border-bottom-left-radius: 50px;
      z-index: -2;

      img {
        position: absolute;
        top: 130px;
        left: -365px;
        transform: scale(0.87);
      }
    }
  }

  .box {
    display: block;
    position: absolute;
    top: 45px;
    right: 80px;
    width: 20px;
    height: 20px;

    .slider {
      position: absolute;
      cursor: pointer;
      width: 25px;
      height: 20px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url(images/icon-hamburger.svg);
      background-repeat: no-repeat;
    }
  }

  .links {
    position: absolute;
    top: 100px;
    right: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
    background-color: white;
    width: 400px;
    height: 200px;
    box-shadow: 0 2px 10px rgba(133, 133, 133, 0.658);
    font-size: 22px;
    font-family: $headCallsNav;
    font-weight: 700;
    list-style: none;
    text-transform: uppercase;

    a {
        display: block;
        padding: 10px 0 10px 0;
    }

    #login {
      padding-right: 50px;
      color: $grayishBlue;
    }

  }
}

@media only screen and (max-width: 500px) {
  .main {

    .left {
      top: 380px;
    }

    .right {
      width: 220px;
      height: 550px;

      img {
        top: 80px;
        right: 0;
        transform: scale(0.65);
      }
    }
  }


}
